
<div class="row"></div>

<div class="row">
  <div class="col s12 m8 push-m2">

    <form action="/location/request" method="post">
      <button class="btn-large waves-effect waves-light red" style="width: 100%" type="submit" name="action" id="uxsubmit">
        Share or request a location
        <i class="material-icons right">send</i>
      </button>
    </form>

  </div>
</div>
